@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    @section SemCabecalho { }
}
<div class="container-lg">
    <div class="dft-header-title">
        <h1>@ViewData["Title"]</h1>
    </div>

    <p>O AVA é comprometido em proteger a privacidade e os dados pessoais de nossos usuários. Este documento descreve nossas práticas de privacidade e como coletamos, utilizamos e protegemos suas informações. Ao utilizar o Portal Escolar, você concorda com as políticas descritas aqui.</p>
</div>