@page
@model ResetSenhaModel

@{
    ViewData["Title"] = "Recuperar Senha";
    @section SemMenu { }
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <h1>AVA</h1>
        <h2>Recuperar senha</h2>
        <hr>
        <h2>Insira seu email cadastrado</h2>
        <input type="text" placeholder="E-mail">
        <button>Enviar</button>
        <p><a href="/Index">Voltar a página anterior</a></p>
    </div>

</body>