html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://trello.com/1/cards/6542920a5e1ffe2547f3f201/attachments/654292175e742e67fbd37015/previews/654292185e742e67fbd37050/download/login-background-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#container {
    background-color: var(--background-color);
    border-radius: 10px;
    width: 300px;
    height: 420px;
    margin: 200px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    color: var(--hfont-default-color);
}

h2 {
    font-size: 24px;
    color: var(--hfont-default-color);
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
}

button {
    width: 87%;
    padding: 10px;
    background-color: var(--button-default-color);
    color: var(--button-font-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: var(--button-default-hover-color);
    }

a {
    text-decoration: none;
    color: var(--button-default-color);
}

.dimention {
    width: 100% !important;
}
