
<link rel="stylesheet" href="~/css/cabecalho.css"/>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow cabecalho">
        <div class="container header-cont">
            <a class="" href="/Index">
                <img class="img-logo" src="https://trello.com/1/cards/65422cff12a1b2ab8aebbdfd/attachments/65422d0e52f745c5bfc1046a/previews/65422d1052f745c5bfc10550/download/generate-a-logo-written-ava-upscaled_(1).png" alt="Ambiente Virtual Acadêmico">
            </a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn btn-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-content" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item">Meus Dados</button>
                    <button class="dropdown-item">Configurações</button>
                    <button class="dropdown-item" onclick="">Sair</button>
                </div>
            </div>
        </div>
    </nav>
</header>