
<div class="containerMenuLateral">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Home/Home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Home/Privacy">Privacy</a>
        </li>
    </ul>
</div>