@{
    ViewData["Title"] = "Recuperação de Senha";
}

<link rel="stylesheet" href="~/@(nameof(Pages_ResetSenha_RecuperarSenha)).styles.css" />
<body>
    <div id="container">
        <h1>AVA</h1>
        <h2>Recuperar senha</h2>
        <hr>
        <h2>Insira seu email cadastrado</h2>
        <input type="text" placeholder="E-mail">
        <button onclick="window.location.href='/Index'">Enviar</button>
    </div>
</body>