html {
  font-size: 14px;
}

:root {
    --background-color: #fff;
    --background-color-sidebar: 
    /* Buttons */
    --button-font-color: #fff;
    --button-default-color: #007BFF;
    --button-default-hover-color: #0056b3;
    /* Inputs */
    --input-border-color: #ccc;
    --hfont-default-color: #333;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: none;
}

.main-container {
    display: flex !important;
}

.container {
    padding: 0;
    max-width: none !important;
}

.container-default {
    margin-left: 280px;
}

.dft-header-title {
    text-align: center;
    padding: 45px 0px;
}

.sidebar-dft {
    width: 280px;
    position: fixed;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }

    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

.card{
    margin: 0px 10px !important;
}