.containerMenuLateral {
    left: 0;
    background: var(--hfont-default-color);
    height: 100%;
    padding: 1rem 2rem;
}

    .containerMenuLateral a {
        color: var(--hfont-default-color);
        font-size: 1.2rem;
    }
