@page
@model UsuarioModel
@{
    ViewData["Title"] = "Matrícula";
}

<link rel="stylesheet" href="~/css/login/login.css">
<div class="text-center dimention">
    <div class="dft-header-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div id="container-table">
        <button class="btn" type="button" onclick="">Download Matricula</button>
    </div>
</div>
