@{
    ViewData["Title"] = "Recuperar Senha";
}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do Aluno AVA</title>
    <link href="/css/Login/Login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <h1>AVA</h1>
        <h2>Recuperar senha</h2>
        <hr>
        <h2>Insira seu email cadastrado</h2>
        <input type="text" placeholder="E-mail">
        <button>Enviar</button>
        <p><a href="/telaLogin/telaLogin.html">Voltar a página anterior</a></p>
    </div>

</body>
</html>